.nature-scores {
  display: grid;
  grid-template-columns: auto 1fr 4fr;
  max-width: 600px;
}

.nature-scores label {
  padding-right: 1em;
}

#core-values {
  display: grid;
  grid-template-columns: 1fr;
}

#mystical_expertise {
  display: grid;
  grid-template-columns: 1fr;
}

.hidden {
  display: none;
}
